﻿@using WebAppUsersOktaImport.Helpers;

@{
    ViewBag.host = Tools.GetServerHost();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Users import to Okta</title>

    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("Style", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Users import to Okta", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Okta application ASP.NET MVC</p>
        </footer>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="loading">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="~/Content/img/loading.gif" width="50" height="50" />
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="ctx" id="ctx" value="@ViewBag.host" />
    <script src="~/Content/jquery/jquery-3.4.1.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/helpers/generalFunctions.js"></script>
    <script src="~/Scripts/helpers/Objects.js?0.0.2"></script>
    @RenderSection("Scripts", false)
</body>
</html>
