﻿.avoid-clicks {
    pointer-events: none;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.mt-5 {
    margin-top:5px !important;
}
.ml-15 {
    margin-left: 15px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
table thead th {
    background-color: #003359 !important;
    color: #fff !important;
    font-size: 9.8px !important;
    text-align: center;
}
table tbody td {
    font-size: 9.5px !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #7ab800;
    color: #fff !important;
}
.dataTables_info {
    font-size: 11px !important;
}
.active a {
    background-color: #003359 !important;
    color: #fff !important;
}
/*.bonus {
    background-color: rgba(40, 167, 69, 0.79) !important;
}*/
.red {
    color: red;
}
.red-bold {
    color: red;
    font-weight: bold; 
}
.pointer {
    cursor: pointer;
}
.ico-table {
    font-size: 10px !important;
}
.ico-alert {
    color: #fbc02d !important;
    padding-top: 20px !important;
    font-size: 45px !important;
}
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; 
    border-radius: 3px;
}
.label-form {
    font-size: 11px !important;
}
.hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #cfd8dc;
}

/***
    Custom file upload
*/
.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #34495e;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #34495e;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

/****
    Custom modal
*/

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-header {
    padding: 7px !important;
    border-bottom: 1px solid #e5e5e5;
}
.modal-footer {
    padding: 7px !important;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
/***
    Custom tooltip
*/
.tooltip {
    position: fixed;
}

/***
    Custom Footer [Modal]
*/
.resize-footer {
    padding-bottom: 0px !important;
}
/***
    DATATABLE
*/
.exportExcel {
    background-color: #147733;
    border-color: #147733;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

    .exportExcel:hover {
        color: #fff;
        text-decoration: none;
        border-color: #19923f;
        background-color: #19923f;
    }
.navbar {
    border-radius: 0px;
}