﻿@{
    ViewBag.Title = "Home Page";
}

@section Style{
    <link href="~/Content/datatable/css/dataTables.bootstrap.css" rel="stylesheet" />
}
@section Scripts{

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    @*<script src="~/Content/datatable/js/jquery.dataTables.js"></script>
        <script src="~/Content/datatable/buttons/dataTables.buttons.min.js"></script>
        <script src="~/Content/datatable/js/dataTables.bootstrap.js"></script>*@
    <script src="~/Content/datatable/buttons/jszip.min.js"></script>
    <script src="~/Content/datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/js/home.js?0.0.1"></script>

}
<br />
<br />
<br />
<br />
<div class="row">
    <div class="form-group">
        <label for="oktaTenant" class="col-md-2 control-label">Okta Tenant</label>
        <div class="col-md-4">
            <input type="text" class="form-control"  id="oktaTenant" value="dev-225253.okta.com" />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="form-group">
        <label for="credentials" class="col-md-2 control-label">Credentials</label>
        <div class="col-md-4">
            <input type="text" class="form-control"  id="credentials" value="00yg-alor_yDLSgc2ry5DQIB-OvrzqOmRwiwK4i_LR" />
        </div>
    </div>
</div>
<br />
<div class="row">
    
        <div class="form-group">
            <label for="credentials" class="col-md-2 control-label">CSV filename</label>
            <div class="col-md-6">
                <div class="file-upload">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">Choose a file</div>
                        <div class="file-select-name" id="noFile">Upload CSV file</div>
                        <input type="file" name="chooseFile" id="chooseFile">
                    </div>
                </div>
            </div>
        </div>        
</div>
<br />
<div class="row">
    <div class="form-group">
        <label for="TipoActivacion" class="col-md-2 control-label">Type of activation</label>
        <div class="col-md-2">
            <select id="TipoActivacion" class="form-control" style="width:100%">
                <option value="1">Staged</option>
                <option value="2">Activated</option>
            </select>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="form-group">
        <label for="chkPassword" class="col-md-2 control-label">Password Included</label>
        <div class="col-md-2">
            <input type="checkbox" id="chkPassword" class="checkbox">
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-2">
        <div class="form-group">
            <a class="btn btn-info mt-5" title="Import Users to Okta" id="save" style="width:100%">Import</a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <table id="table-users" class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">firstName</th>
                    <th class="text-center">lastName</th>
                    <th class="text-center">email</th>
                    <th class="text-center">login</th>
                    <th class="text-center">mobilePhone</th>
                    <th class="text-center">password</th>
                    <th class="text-center">message</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>